/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  Custom Styles   */
/* Header */

.clearfix::before,
.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}
.header{
	background-color: rgb(247, 241, 241);
	height: 200px;
	line-height: 200px;
	position: fixed;
	width: 100%;
	
	
}
	
.container{
	
	max-width: 1200px;
	margin: 0px auto;
	
	
}
.brand{
	float: left;
}
.brand img{
	vertical-align: middle;
}
.nav{
	float:right;
}
.nav a{
	font-size: 50px;
	color: white;
	text-decoration: none;
	margin-left: 15px;
	color: #223969;
}
.section01{
	padding-top: 300px;
}
	

.section02{
padding-top: 100px;
	
}

.article{
	
	float: left;
	width: 50%;
	
}
.article-image {
	float: right;
	width: 50%;
	
	
}
.article-image img{
	width: 100%;
}
h1{
	font-size: 35px;
	margin-bottom: 80px;
}
p{
	font-size: 25px;
	line-height: 40px;
	
}

.row img{
	width: 33.333%;
	float: left;
	height: 250px;
	margin-bottom: 75px;
	box-sizing: border-box;
	
}
.middle{
	padding: 0px 15px;}

/* footer */
footer{
	background-color:rgb(247, 241, 241);
	padding: 80px;
	font-size:40px ;
}

.footer small{
	float: left;
	
}

.footer nav{
	float: right;
	
	
}
.footer a{
	text-decoration: none;
	color:#223969;
	margin: 10px
}.top{
	position: fixed;
	right: 15px;
	bottom: 15px;
	background-color:rgb(248, 231, 231) ;
	height: 80px;
	width: 80px;
	
	border-radius: 100%;
	line-height: 80px;
	text-align: center;

	
	
}
	